# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
series1 = pd.Series(np.random.randint(1,5,100))
series1

0     3
1     4
2     1
3     3
4     1
     ..
95    1
96    1
97    2
98    1
99    3
Length: 100, dtype: int32

In [4]:
series2 = pd.Series(np.random.randint(1,4,100))
series2

0     2
1     3
2     3
3     1
4     1
     ..
95    3
96    2
97    1
98    1
99    3
Length: 100, dtype: int32

In [5]:
series3 = pd.Series(np.random.randint(10000,30000,100))
series3

0     10631
1     14886
2     22914
3     18723
4     28533
      ...
95    21021
96    17728
97    14732
98    21792
99    18610
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [7]:
series_1_2_3 = pd.concat([series1 , series2 , series3], axis = 1 )
series_1_2_3.head()

   0  1      2
0  3  2  10631
1  4  3  14886
2  1  3  22914
3  3  1  18723
4  1  1  28533

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [9]:
series_1_2_3.columns = ['bedrs','bathrs','price_sqr_meter']
series_1_2_3.head()

   bedrs  bathrs  price_sqr_meter
0      3       2            10631
1      4       3            14886
2      1       3            22914
3      3       1            18723
4      1       1            28533

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [12]:
bigcolumn = pd.concat([series1 , series2 , series3], axis = 0 )
bigcolumn

0         3
1         4
2         1
3         3
4         1
      ...
95    21021
96    17728
97    14732
98    21792
99    18610
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [17]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [23]:
#bigcolumn.reset_index(drop = True , inplace =   True)
bigcolumn.reset_index()

     index      0
0        0      3
1        1      4
2        2      1
3        3      3
4        4      1
..     ...    ...
295    295  21021
296    296  17728
297    297  14732
298    298  21792
299    299  18610

[300 rows x 2 columns]