# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime(2022, 5, 25)

print(start)
print(end)

2015-01-01 00:00:00
2022-05-25 00:00:00

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL', 'TSLA', 'TWTR' , 'IBM' , 'LNKD']
stocks

['AAPL', 'TSLA', 'TWTR', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [4]:
df = data.DataReader(stocks, 'yahoo', start, end)
df

C:\Users\himan\AppData\Roaming\Python\Python310\site-packages\pandas_datareader\base.py:272: SymbolWarning: Failed to read symbol: 'LNKD', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

Attributes   Adj Close                                               Close  \
Symbols           AAPL        TSLA       TWTR         IBM LNKD        AAPL
Date
2015-01-02   24.678251   43.862000  36.560001  112.178070  NaN   27.332500
2015-01-05   23.983027   42.018002  36.380001  110.412979  NaN   26.562500
2015-01-06   23.985277   42.256001  38.759998  108.031815  NaN   26.565001
2015-01-07   24.321606   42.189999  37.279999  107.325775  NaN   26.937500
2015-01-08   25.256104   42.124001  39.090000  109.658463  NaN   27.972500
...                ...         ...        ...         ...  ...         ...
2022-05-18  140.820007  709.809998  36.849998  132.940002  NaN  140.820007
2022-05-19  137.350006  709.419983  37.290001  129.660004  NaN  137.350006
2022-05-20  137.589996  663.900024  38.290001  128.479996  NaN  137.589996
2022-05-23  143.110001  674.900024  37.860001  131.169998  NaN  143.110001
2022-05-24  140.360001  628.159973  35.759998  133.800003  NaN  140.360001

Attributes                                          ...        Open  \
Symbols           TSLA       TWTR         IBM LNKD  ...        AAPL
Date                                                ...
2015-01-02   43.862000  36.560001  154.933075  NaN  ...   27.847500
2015-01-05   42.018002  36.380001  152.495224  NaN  ...   27.072500
2015-01-06   42.256001  38.759998  149.206497  NaN  ...   26.635000
2015-01-07   42.189999  37.279999  148.231354  NaN  ...   26.799999
2015-01-08   42.124001  39.090000  151.453156  NaN  ...   27.307501
...                ...        ...         ...  ...  ...         ...
2022-05-18  709.809998  36.849998  132.940002  NaN  ...  146.850006
2022-05-19  709.419983  37.290001  129.660004  NaN  ...  139.880005
2022-05-20  663.900024  38.290001  128.479996  NaN  ...  139.089996
2022-05-23  674.900024  37.860001  131.169998  NaN  ...  137.789993
2022-05-24  628.159973  35.759998  133.800003  NaN  ...  140.809998

Attributes                                               Volume              \
Symbols           TSLA       TWTR         IBM LNKD         AAPL        TSLA
Date
2015-01-02   44.574001  36.230000  154.216064  NaN  212818400.0  23822000.0
2015-01-05   42.910000  36.259998  154.177826  NaN  257142000.0  26842500.0
2015-01-06   42.012001  36.270000  152.648178  NaN  263188400.0  31309500.0
2015-01-07   42.669998  39.099998  150.286804  NaN  160423600.0  14842000.0
2015-01-08   42.562000  37.419998  149.369019  NaN  237458000.0  17212500.0
...                ...        ...         ...  ...          ...         ...
2022-05-18  744.520020  37.419998  137.100006  NaN  109742900.0  29270600.0
2022-05-19  707.000000  36.759998  132.000000  NaN  136095600.0  30098900.0
2022-05-20  713.989990  37.770000  130.179993  NaN  137194600.0  48190600.0
2022-05-23  655.020020  37.770000  129.500000  NaN  117726300.0  29634500.0
2022-05-24  653.530029  36.939999  130.570007  NaN  103890900.0  29498700.0

Attributes
Symbols           TWTR        IBM LNKD
Date
2015-01-02  12062500.0  5779673.0  NaN
2015-01-05  15062700.0  5104898.0  NaN
2015-01-06  33050800.0  6429448.0  NaN
2015-01-07  22675700.0  4918083.0  NaN
2015-01-08  19190400.0  4431693.0  NaN
...                ...        ...  ...
2022-05-18  24010300.0  6003000.0  NaN
2022-05-19  32000300.0  5819700.0  NaN
2022-05-20  23584000.0  6912900.0  NaN
2022-05-23  13601300.0  3591500.0  NaN
2022-05-24  22644800.0  4188500.0  NaN

[1862 rows x 30 columns]

### Step 5.  What is the type of structure of df ?

In [5]:
type(df)

pandas.core.frame.DataFrame

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [6]:
df.index

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2022-05-11', '2022-05-12', '2022-05-13', '2022-05-16',
               '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20',
               '2022-05-23', '2022-05-24'],
              dtype='datetime64[ns]', name='Date', length=1862, freq=None)

In [7]:
df.columns.levels[0]

Index(['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Attributes')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [8]:
vol = df.Volume
vol.head()

Symbols            AAPL        TSLA        TWTR        IBM  LNKD
Date
2015-01-02  212818400.0  23822000.0  12062500.0  5779673.0   NaN
2015-01-05  257142000.0  26842500.0  15062700.0  5104898.0   NaN
2015-01-06  263188400.0  31309500.0  33050800.0  6429448.0   NaN
2015-01-07  160423600.0  14842000.0  22675700.0  4918083.0   NaN
2015-01-08  237458000.0  17212500.0  19190400.0  4431693.0   NaN

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [9]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year
week = vol.groupby(['week' , 'year']).sum()
week.head()

C:\Users\himan\AppData\Local\Temp\ipykernel_11576\60387489.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  vol['week'] = vol.index.week
C:\Users\himan\AppData\Local\Temp\ipykernel_11576\60387489.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['week'] = vol.index.week
C:\Users\himan\AppData\Local\Temp\ipykernel_11576\60387489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vol['year'] = vol.index.year

Symbols            AAPL         TSLA        TWTR         IBM  LNKD
week year
1    2015  2.128184e+08   23822000.0  12062500.0   5779673.0   0.0
     2016  1.375161e+09  104877000.0  89028400.0  26415265.0   0.0
     2017  4.153820e+08  142882000.0  58748700.0  12492901.0   0.0
     2018  5.446876e+08  148567500.0  76711500.0  32822330.0   0.0
     2019  9.927560e+08  244450000.0  77959800.0  21924996.0   0.0

### Step 9. Find all the volume traded in the year of 2015

In [11]:
week_2015 = vol.groupby[vol.year==2015].sum()
week_2015

#year=vol[vol.year==2015].sum()

TypeError: 'method' object is not subscriptable

### BONUS: Create your own question and answer it.