# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
#print(open(url).read())
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [4]:
# clean the item_price column and transform it in a float

#clean the item_price column
chipo["item_price_float"] = chipo["item_price"].str.replace("$", "")

#transform it in a float     
chipo["item_price_float"] = chipo["item_price_float"].astype(float)


# reassign the column with the cleaned prices
chipo["item_price_float"]


# delete the duplicates in item_name and quantity

chipo = chipo.drop_duplicates(subset = ['item_name', 'quantity'])
chipo


#  select only the products with quantity equals to 1
# select item price more then 10$

chipo_price_ten =chipo[(chipo['quantity'] == 1) & (chipo["item_price_float"]> 10)]['item_name'].nunique()
chipo_price_ten

C:\Users\himan\AppData\Local\Temp\ipykernel_5232\315718670.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo["item_price_float"] = chipo["item_price"].str.replace("$", "")

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [5]:
# delete the duplicates in item_name and quantity
chipo_unique = chipo.drop_duplicates(subset = ['item_name', 'quantity'])
chipo_unique

# select only the products with quantity equals to 1

chipo_quant_one = chipo_unique[chipo_unique['quantity'] == 1]
chipo_quant_one

# select only the item_name and item_price columns

chipo_name_price = chipo_quant_one[["item_name"],["item_price"]]
chipo_name_price

# sort the values from the most to less expensive

chipo_sorted = chipo_name_price.sort_values(by="item_name", ascending=False)

InvalidIndexError: (['item_name'], ['item_price'])

### Step 6. Sort by the name of the item

In [ ]:
chipo.sort_values(by = 'item_name', ascending= True)

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
298,129,1,6 Pack Soft Drink,[Sprite],$6.49,6.49,6.49
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98,6.49
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75,11.75
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,8.99,8.99
1903,768,2,Barbacoa Crispy Tacos,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Rice]]",$18.50,18.50,9.25
...,...,...,...,...,...,...,...
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49,8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49,8.49,8.49
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98,16.98,8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25,11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
chipo[chipo['item_price_float'] == chipo.item_price_float.max()]

,order_id,quantity,item_name,choice_description,item_price,item_price_float,price_per_item
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,2.95

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
#chipo[chipo.item_name == 'Veggie Salad Bowl'].quantity.sum()
chipo['item_name'].value_counts()['Veggie Salad Bowl'].sum()

1

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
(chipo[chipo.item_name == 'Canned Soda'].quantity>1).sum()

2